div {
  text-align: justify;
  text-justify: inter-word;
}

body {
  background-color: rgb(255, 224, 202);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

p {
  color: rgb(131, 56, 3);
}

h1, h2, h3 {
  font-family: "Georgia", serif;
  color: rgb(131, 56, 3);
}

em {
  font-style: italic;
}
link {
  color: rgb(88, 237, 143);
}

nav {
  background-color: rgb(131, 56, 3);
  padding: 10px;
}