div {
  text-align: justify;
  text-justify: inter-word;
}

body {
  background-color: rgb(255, 224, 202);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

p {
  color: rgb(131, 56, 3);
}

h1, h2, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(131, 56, 3);
}

link {
  color: rgb(88, 237, 143);
}

nav {
  background-color: rgb(131, 56, 3);
  padding: 10px;
}
nav a:hover {
    color: rgb(255, 224, 202);
}
